[Unit]
Description=Remove BitTorrent Sync trashed files

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/btsync_trash.py --config /etc/btsync.conf
